
.title{
    font-size: 3.6rem;
    font-family: 'Bebas Neue', cursive;
}

.terminal .background{
    background-color: #e0e0e0b7;
    
}

.close-icon-mac{
    background-color: #e66e4d;
    height: 15px;
    width: 15px;
    border-radius: 9px;
}

.max-icon-mac{
    background-color: #f2bc23;
    height: 15px;
    width: 15px;
    border-radius: 9px;
    
}

.min-icon-mac{
    background-color: #6fb838;
    height: 15px;
    width: 15px;
    border-radius: 9px;
}

.text-green{
    color: chartreuse !important;
}

.bg-black-1{
    background-color: rgb(31, 31, 31);

}

.bg-purple{
    background-color: #280b1d;
}

.bg-gray{
    background-color: #414141;
}

.border-blue{
    border-width: 5px ;
    border-style: solid ;
    border-color: rgb(6, 117, 228);
}

.bg-black{
    background-color: black;
}

.bg-blue-dark{
    background-color: rgb(2, 96, 190);

}

.bg-blue{
    background-color: rgb(6, 117, 228);
}


footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:50px;
    width:100%;
    background:#999;
 }

.border-white{
    border-width: 5px ;
    border-style: solid ;
    border-color: rgb(255, 255, 255);
}

.border-black{
    border-width: 5px ;
    border-style: solid ;
    border-color: rgb(0, 0, 0);
}

.responsiveCard{
    width: 18rem;
}
@media (max-width: 720px) {
    .responsiveCard{
        width: 100%;
    }
}
#tsparticles{
    position: absolute;
    top: 0;
    z-index: -1;
}